<header>
  <div class="container">
      <div class="row">
          <div class="col-md-3 col-sm-3 col-3">
              <div class="logo">
                  <img src="assets/logofinal.png" class="logo" style="margin-top: 35px;">
              </div>
          </div>
          <div class="col-md-9 col-sm-9 col-9 text-end">
              <div class="menu-icon" (click)="openMenu()">
                  <i class="{{menu_icon}}"></i>
              </div>
              <div class="desktop_menu" [class.mobile_menu]="menuValue">
                  <ul>
                      <li (click)="closeMenu()">Inicio</li>



                      <li (click)="closeMenu()">Acerca de </li>


                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Categorias
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="/categorias/Autoestima.html">Autoestima</a></li>
                          <li><a class="dropdown-item" href="/categorias/amor propio.html">Amor propio</a></li>
                          <li><a class="dropdown-item" href="/categorias/Autoconfianza.html">Autoconfianza</a></li>
                        </ul>
                      </li>
                      <li (click)="closeMenu()">Courses</li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Recursos
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="/html/recursos.html">Todos los recursos</a></li>
                          <li><a class="dropdown-item" href="#">videos</a></li>
                          <li><hr class="dropdown-divider"> </li>
                          <li><a class="dropdown-item" href="#">Revistas</a></li>
                          <li><a class="dropdown-item" href="#">PDF</a></li>

                        </ul>
                      </li>

                      <li (click)="closeMenu()">Contact</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</header>
